button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.buys {
  fill: yellow;
}

.sells {
  fill: red;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.trackerA-close-avg {
    fill: none;
    stroke: blue;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}

.trackerB-close-avg {
    fill: none;
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}