.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.trackerA-close-avg {
    fill: none;
    stroke: blue;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}

.trackerB-close-avg {
    fill: none;
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 3, 3;
}