@import play.api.libs.json._

@(dataPoints: List[DataPoint], buys: List[DataPoint], sells: List[DataPoint])
<button>Reset</button>
<script type="text/javascript">
    var data = @Html(Json.stringify(Json.toJson(dataPoints)));
    var buys = @Html(Json.stringify(Json.toJson(buys)));
    var sells = @Html(Json.stringify(Json.toJson(sells)));
    console.log(data);


// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 210, left: 60},
    margin2 = {top: 430, right: 20, bottom: 30, left: 60},
    width = 1024 - margin.left - margin.right,
    height = 600 - margin.top - margin.bottom,
    height2 = 600 - margin2.top - margin2.bottom;

// parse the date / time
var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");

// set the ranges
var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);
var new_x = x;
var new_y = y;

// define the line
var valueline = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.priceAverage); });

// ATR
var xScaleATR = d3.scaleTime().range([0, width]);
var yScaleATR = d3.scaleLinear().range([height2, 0]);
// define the ATR lines

var atrPeriod = 10;

// append the svg obgect to the body of the page
// appends a 'group' element to 'svg'
// moves the 'group' element to the top left margin
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)

var focus = svg.append("g")
    .attr("class", "focus")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var context = svg.append("g")
    .attr("class", "context")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")");


var zoom = d3.zoom()
    .scaleExtent([1, 40])
    .translateExtent([[0, 0], [width, height]])
    .on("zoom", zoomed);

const bisectDate = d3.bisector(d => d.date).left;
const formatValue = d3.format(',.8f');
const formatCurrency = d => `BTC${formatValue(d)}`;

// Get the data
/*d3.csv("data.csv", function(error, data) {
  if (error) throw error;
*/
  // format the data
  data.forEach(function(d) {
      d.date = parseTime(d.date);
      d.priceAverage = +d.price;
      d.open = +d.open;
      d.close = +d.close;
      d.high = +d.high;
      d.low = +d.low;
  });
  buys.forEach(function(d) {
      d.date = parseTime(d.date);
      d.priceAverage = +d.price;
      d.open = +d.open;
      d.close = +d.close;
      d.high = +d.high;
      d.low = +d.low;
  });
  sells.forEach(function(d) {
      d.date = parseTime(d.date);
      d.priceAverage = +d.price;
      d.open = +d.open;
      d.close = +d.close;
      d.high = +d.high;
      d.low = +d.low;
  });


  // Scale the range of the data
  x.domain(d3.extent(data, function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.priceAverage; })]);

  xScaleATR.domain(d3.extent(data, function(d) { return d.date; }));
  yScaleATR.domain([d3.min(data, function(d) { return d.high - d.low; }), d3.max(data, function(d) { return d.high - d.low; })]);

  var xAxisATR = d3.axisBottom(xScaleATR)
        .tickFormat(d3.timeFormat("%m-%d %X"));

  // Add the X Axis
  context.append("g")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxisATR);

  var yAxisATR = d3.axisLeft(yScaleATR);

  // Add the Y Axis
  context.append("g")
      .call(yAxisATR);

var atrlineCurrent = d3.line()
    .x(function(d) { return xScaleATR(d.date); })
    .y(function (d, i) {

        var count = Math.min(atrPeriod, i + 1),
                first = i + 1 - count;

        var sum = 0;
        for (var index = first; index <= i; ++index) {
          var tr1 = data[index]['high'] - data[index]['low'];
          var tr2 = 0;
          var tr3 = 0;
          if(index >= 1) {
            tr2 = Math.abs(data[index]['high'] - data[index - 1]['close']);
            tr3 = Math.abs(data[index]['low'] - data[index - 1]['close']);
          }
          var max = Math.max(tr1, tr2, tr3);
          sum += max;
        }
        var mean = sum / count;

        return yScaleATR(mean);
    });



var atrlinePast = d3.line()
    .x(function(d) { return xScaleATR(d.date); })
    .y(function (d, i) {

        var count = Math.min(atrPeriod, i + 6),
                first = i + 6 - count;

        var sum = 0;
        for (var index = first; index <= i; ++index) {
          var tr1 = data[index]['high'] - data[index]['low'];
          var tr2 = 0;
          var tr3 = 0;
          if(index >= 1) {
            tr2 = Math.abs(data[index]['high'] - data[index - 1]['close']);
            tr3 = Math.abs(data[index]['low'] - data[index - 1]['close']);
          }
          var max = Math.max(tr1, tr2, tr3);
          sum += max;
        }
        var mean = sum / count;

        return yScaleATR(mean);
    });



var momentumPeriod = 14;
var momentumline = d3.line()
    .x(function(d) { return x(d.date); })
    .y(function (d, i) {

        var count = Math.min(momentumPeriod, i + 1),
                first = i + 1 - count;

        //console.log("i ", i, " first ", first);
        var momentum = data[i]['close'] * 100 / data[first]['close']
        console.log("momentum ", momentum)
        return y(momentum);
    });


  focus.append('g')
    .append("path")
    .data([data])
    .attr("class", "momentum")
    .attr("d", momentumline);


  context.append('g')
    .append("path")
    .data([data])
    .attr("class", "atrCurrent")
    .attr("d", atrlineCurrent);


  context.append('g')
    .append("path")
    .data([data])
    .attr("class", "atrPast")
    .attr("d", atrlinePast);

  // Add the valueline path.
  var lines = focus.append("path")
      .data([data])
      .attr("class", "line")
      .attr("d", valueline);



  // Add the scatterplot
  var buyDots = focus.selectAll("dot")
      .data(buys)
    .enter().append("circle")
      .attr("class", "buys")
      .attr("r", 2)
      .attr("cx", function(d) { return x(d.date); })
      .attr("cy", function(d) { return y(d.priceAverage); });


  // Add the scatterplot
  var sellDots = focus.selectAll("dot")
      .data(sells)
    .enter().append("circle")
      .attr("class", "sells")
      .attr("r", 2)
      .attr("cx", function(d) { return x(d.date); })
      .attr("cy", function(d) { return y(d.priceAverage); });

  var xAxis = d3.axisBottom(x)
        .tickFormat(d3.timeFormat("%m-%d %X"));

  // Add the X Axis
  var gX = focus.append("g")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  var yAxis = d3.axisLeft(y);

  // Add the Y Axis
  var gY = focus.append("g")
      .call(yAxis);

	var xLabels = data.map(function (d) { return d.date; })	
	// get the x and y values for least squares
	var xSeries = d3.range(1, xLabels.length + 1);
	var ySeries = data.map(function(d) { return d.priceAverage; });

	var leastSquaresCoeff = leastSquares(xSeries, ySeries);
	console.log(leastSquaresCoeff[0]);
	console.log(leastSquaresCoeff[1]);
	console.log(leastSquaresCoeff[2]);
		
	// apply the reults of the least squares regression
	var x1 = xLabels[0];
	var y1 = leastSquaresCoeff[0] + leastSquaresCoeff[1];
	var x2 = xLabels[xLabels.length - 1];
	var y2 = leastSquaresCoeff[0] * xSeries.length + leastSquaresCoeff[1];
	var trendData = [[x1,y1,x2,y2]];

	var trendline = focus.selectAll(".trendline")
	.data(trendData);

	trendline.enter()
	.append("line")
	.attr("class", "trendline")
	.attr("x1", function(d) { return x(d[0]); })
	.attr("y1", function(d) { return y(d[1]); })
	.attr("x2", function(d) { return x(d[2]); })
	.attr("y2", function(d) { return y(d[3]); })
	.attr("stroke", "black")
	.attr("stroke-width", 1);

	var yValue = 'priceAverage';
	var movingAverageA = 5
	var trackerA = d3.line();
    trackerA.x(function (d) {
        return x(d.date);
    });

    trackerA.y(function (d, i) {

        var count = Math.min(movingAverageA, i + 1),
                first = i + 1 - count;

        var sum = 0;
        for (var index = first; index <= i; ++index) {
            sum += data[index][yValue];
        }
        var mean = sum / count;

        return y(mean);
    });

    var smaShort = focus.append('g')
	    .append("path")
	    .data([data])
	    .attr("class", "trackerA")
	    .classed('trackerA-close-avg', true)
	    .attr("d", trackerA);


  var movingAverageB = 15
  var trackerB = d3.line();
    trackerB.x(function (d) {
        return x(d.date);
    });

    trackerB.y(function (d, i) {

        var count = Math.min(movingAverageB, i + 1),
                first = i + 1 - count;

        var sum = 0;
        for (var index = first; index <= i; ++index) {
            sum += data[index][yValue];
        }
        var mean = sum / count;

        return y(mean);
    });

    var smaLong = focus.append('g')
      .append("path")
      .data([data])
      .attr("class", "trackerB")
      .classed('trackerB-close-avg', true)
      .attr("d", trackerB);

	const crosshairs = focus.append('g')
      .attr('class', 'crosshairs')
      .style('display', 'none');

    crosshairs.append('circle')
      .attr('r', 4.5);

    crosshairs.append('line')
      .classed('x', true);

    crosshairs.append('line')
      .classed('y', true);

    crosshairs.append('text')
      .attr('x', 9)
      .attr('dy', '.35em');

    var overlay = focus.append('rect')
      .attr('class', 'overlay')
      .attr('width', width)
      .attr('height', height)
      .on('mouseover', () => crosshairs.style('display', null))
      .on('mouseout', () => crosshairs.style('display', 'none'))
      .on('mousemove', mousemove);

    d3.selectAll('.crosshairs')
      .style('opacity', 0.7);

    d3.selectAll('.crosshairs circle')
      .styles({
        fill: 'none',
        stroke: 'black'
      });

    d3.selectAll('.crosshairs line')
      .styles({
        fill: 'none',
        'stroke': 'black',
        'stroke-width': '1.5px',
        'stroke-dasharray': '3 3'
      });

    d3.select("button")
    .on("click", resetted);

    focus.call(zoom)

    /*var root = svg.append('g')
            .attr('class', 'crosshairs');

    var lineH = root.append("line")
        .attr('class', 'crosshairs horizontal')
        .attr('x1', x.range()[0])
        .attr('x2', x.range()[1])
        .attr('display', 'none');

    var lineV = root.append("line")
        .attr('class', 'crosshairs vertical')
        .attr('y1', y.range()[0])
        .attr('y2', y.range()[1])
        .attr('display', 'none');

    var calloutH = root.append("text")
        .attr('class', 'crosshairs callout horizontal')
        .attr('x', x.range()[1])
        .attr('style', 'text-anchor: end')
        .attr('display', 'none');

    var calloutV = root.append("text")
        .attr('class', 'crosshairs callout vertical')
        .attr('y', '2em')
        .attr('style', 'text-anchor: end')
        .attr('display', 'none');*/

    function mousemove() {
      /*const x0 = new_x.invert(d3.mouse(this)[0]);
      const y0 = new_y.invert(d3.mouse(this)[1]);
      lineH.attr('y1', new_y(y0))
                .attr('y2', new_y(y0));
      lineV.attr('x1', new_x(x0))
          .attr('x2', new_x(x0))
      calloutH.attr('y', new_y(y0))
          .text(d3.format('.8f')(y0));
      calloutV.attr('x', new_x(y0))
          .text(d3.timeFormat('%b %e')(x0));


      lineH.attr('display', 'inherit');
      lineV.attr('display', 'inherit');
      calloutH.attr('display', 'inherit');
      calloutV.attr('display', 'inherit');*/
      const x0 = new_x.invert(d3.mouse(this)[0]);
      const i = bisectDate(data, x0, 1);
      const d0 = data[i - 1];
      const d1 = data[i];
      const d = x0 - d0.date > d1.date - x0 ? d1 : d0;
      crosshairs.attr('transform', `translate(${new_x(d.date)}, ${new_y(d.priceAverage)})`);
      crosshairs.select('line.x')
        .attr('x1', 0)
        .attr('x2', -new_x(d.date))
        .attr('y1', 0)
        .attr('y2', 0);

      crosshairs.select('line.y')
        .attr('x1', 0)
        .attr('x2', 0)
        .attr('y1', 0)
        .attr('y2', height - new_y(d.priceAverage));

      crosshairs.select('text').text(formatCurrency(d.priceAverage));
    }

	// returns slope, intercept and r-square of the line
	function leastSquares(xSeries, ySeries) {
		var reduceSumFunc = function(prev, cur) { return prev + cur; };
		
		var xBar = xSeries.reduce(reduceSumFunc) * 1.0 / xSeries.length;
		var yBar = ySeries.reduce(reduceSumFunc) * 1.0 / ySeries.length;

		var ssXX = xSeries.map(function(d) { return Math.pow(d - xBar, 2); })
			.reduce(reduceSumFunc);
		
		var ssYY = ySeries.map(function(d) { return Math.pow(d - yBar, 2); })
			.reduce(reduceSumFunc);
			
		var ssXY = xSeries.map(function(d, i) { return (d - xBar) * (ySeries[i] - yBar); })
			.reduce(reduceSumFunc);
			
		var slope = ssXY / ssXX;
		var intercept = yBar - (xBar * slope);
		var rSquare = Math.pow(ssXY, 2) / (ssXX * ssYY);
		
		return [slope, intercept, rSquare];
	}

  function zoomed() {
    new_x = d3.event.transform.rescaleX(x);
    new_y = d3.event.transform.rescaleY(y)
    gX.call(xAxis.scale(new_x));
    gY.call(yAxis.scale(new_y));
    // update circle
    lines.attr("transform", d3.event.transform)
    smaShort.attr("transform", d3.event.transform)
    smaLong.attr("transform", d3.event.transform)
    trendline.attr("transform", d3.event.transform)
    crosshairs.attr("transform", d3.event.transform)
    buyDots.attr("transform", d3.event.transform);
    sellDots.attr("transform", d3.event.transform);
  }

  function resetted() {
    focus.transition()
        .duration(750)
        .call(zoom.transform, d3.zoomIdentity);
  }

/*});*/
</script>